{% extends "base.html" %}

{% block main %}
<div>
    <h1>Page 2</h1>
    <p style="color: darkgreen;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam ea sapiente aut, inventore cum fuga fugit animi hic repellat aperiam modi vero aliquid quis laboriosam deleniti labore repudiandae voluptas.
    </p>
    <p style="color: red;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam ea sapiente aut, inventore cum fuga fugit animi hic repellat aperiam modi vero aliquid quis laboriosam deleniti labore repudiandae voluptas.
    </p>
</div>
{% endblock %}