{% extends "base.html" %}

{% block main %}
<div>
    <h1>Генератор паролей</h1>

    <form method="post">
        <!-- Поля ввода данных -->
        <div class="field">
            <label for="p">Пароль:</label>
            <input type="password" name="pwd" id="p">
        </div>
        <div class="field">
            <label for="s">Соль:</label>
            <input type="text" name="salt" id="s">
        </div>
        <div class="field">
            <label for="n">Кол-во символов:</label>
            <input type="text" name="num_char" id="n">
        </div>

        <!-- Кнопка -->
        <button type="submit">Отправить</button>
    </form>

    <div class="result">
        Результат: {{ data }}
    </div>
    <!-- <p style="color: darkgreen;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam ea sapiente aut, inventore cum fuga fugit animi hic repellat aperiam modi vero aliquid quis laboriosam deleniti labore repudiandae voluptas.
    </p>
    <p style="color: red;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam ea sapiente aut, inventore cum fuga fugit animi hic repellat aperiam modi vero aliquid quis laboriosam deleniti labore repudiandae voluptas.
    </p> -->
</div>
{% endblock %}